<br>

<div class="row" ng-init="getSumsungMobiles('Samsung')">
 <div class="col-sm-6 col-md-4" ng-repeat="elment in Mobiles">
   <div class="thumbnail">
     <img class="thumbnail" src={{elment.image}} alt="{{elment.company}}" height="132" width="200">
     <div class="caption">
       <h3>{{elment.name}}</h3>
       <p>{{elment.camera}}</p>
     </div>
     <div class="container">
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click = "viewMobile(elment._id)">details</button>
       <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog" >
         <div class="modal-dialog">
           <!-- Modal content-->
           <div class="row"  >
             <div class="col-sm-7 col-md-5">
               <div class="caption" ng-repeat="elment in mobile">
                 <div class="thumbnail">
                   <p>Name: {{elment.name}}</p>
                   <p>color: {{elment.color}}</p>
                   <p>os: {{elment.os}}</p>
                   <p>size: {{elment.size}}</p>
                   <p>camera: {{elment.camera}}</p>
                   <p>battery: {{elment.battery}}</p>
                   <p>memory: {{elment.memory}}</p>
                   <p>processor: {{elment.processor}}</p>
                   <p>display: {{elment.display}}</p>
                   <div>
         <button type="button" ng-click=" popMobile()" class="btn btn-default"  data-dismiss="modal">Back</button>

                    </div>
                 </div>
               </div>
             </div>
           </div>    
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

