<div >
<form ng-submit='addMobile()'>
company : <input type="text" ng-model="mobileadded.company"></br>
name : <input type="text" ng-model="mobileadded.name"></br>
color: <input type="text" ng-model="mobileadded.color"></br>
operation system: <input type="text" ng-model="mobileadded.os"></br>
size : <input type="text" ng-model="mobileadded.size"></br>
camera : <input type="text" ng-model="mobileadded.camera"></br>
battery : <input type="text" ng-model="mobileadded.battery"></br>
Memory : <input type="text" ng-model="mobileadded.memory"></br>
Processor : <input type="text" ng-model="mobileadded.processor"></br>
image : <input type="text" ng-model="mobileadded.image"></br>
display: <input type="text" ng-model="mobileadded.display"></br>
	<button >add mobile</button>
</form>	



</div>