<div class="form-horizontal">
  <h2>Add Mobiles</h2>
  
  <form class="form-horizontal" ng-submit='addMobile()'>
    <div class="form-group">
      <label for="usr">Company</label>
      <input type="text" ng-model="mobileadded.company" class="form-control" placeholder="company" required>
    </div>
    <div class="form-group">
      <label for="pwd">Name</label>
      <input type="text" ng-model="mobileadded.name" class="form-control" placeholder="name" required>
    </div>
    <div class="form-group">
      <label for="pwd">Color</label>
      <input type="text" ng-model="mobileadded.color" class="form-control" placeholder="color" required>
    </div>
    <div class="form-group">
      <label for="pwd">Operation System</label>
      <input type="text" ng-model="mobileadded.os" class="form-control" placeholder="Operation System" required>
    </div>
    <div class="form-group">
      <label for="pwd">Size</label>
      <input type="text" ng-model="mobileadded.size" class="form-control" placeholder="Size" required>
    </div>
    <div class="form-group">
      <label for="pwd">Camera</label>
      <input type="text" ng-model="mobileadded.camera" class="form-control" placeholder="Camera" required>
    </div>
    <div class="form-group">
      <label for="pwd">Battery</label>
      <input type="text" ng-model="mobileadded.battery" class="form-control" placeholder="Battery" required>
    </div>
    <div class="form-group">
      <label for="pwd">Memory</label>
      <input type="text" ng-model="mobileadded.memory" class="form-control" placeholder="Memory" required>
    </div>
    <div class="form-group">
      <label for="pwd">Processor</label>
      <input type="text" ng-model="mobileadded.processor" class="form-control" placeholder="Processor" required>
    </div>
    <div class="form-group">
      <label for="pwd">Image</label>
      <input type="text" ng-model="mobileadded.image" class="form-control" placeholder="Image" required>
    </div>
    <div class="form-group">
      <label for="pwd">Display</label>
      <input type="text" ng-model="mobileadded.display" class="form-control" placeholder="Display" required>
    </div>
    <button >Add</button>
  </form>
</div>



